<%= form_for(@detail, :html =>{:class=>"form-horizontal"}) do |f| %>

  <fieldset>
    <legend>何買ったの？</legend>
    
    <div class="control-group">
      <label class="control-label" for="focusedInput">カテゴリ</label>
      <div class="controls">
        <div id="open_groups" class="label label-info" style="cursor:pointer;">選ぶ？</div>
        <%= f.hidden_field :group_id, :id => "selected_group_id" %>
        <span id="selected_group_name" style="font-size:large;"></span>
        <!-- 分類ボタン一覧 -->
        <div id="group_buttons" style="display:none">
          <%= render 'groups/buttons' %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="focusedInput">種類</label>
      <div class="controls">
        <div id="open_kinds" class="label label-info" style="cursor:pointer;">選ぶ？</div>
        <%= f.hidden_field :kind_id, :id => "selected_kind_id" %>
        <span id="selected_kind_name" style="font-size:large;"></span>
        <!-- 種類ボタン一覧 -->
        <div id="kind_buttons" style="display:none">
          <%= render 'kinds/buttons' %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="focusedInput">商品名</label>
      <div class="controls">
        <%= f.text_field :article %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="focusedInput">金額</label>
      <div class="controls">
        <%= f.text_field :price %>
      </div>
    </div>
  
    <div class="form-actions">
      <%= f.submit "登録", :class => "btn btn-primary" %>
      <button type="reset" class="btn">キャンセル</button>
    </div>

  </fieldset>


<% end %>





<%= render 'groups/create_dialog' %>
<%= render 'kinds/create_dialog' %>
